@mixin flex-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
  background: #000;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
  background: #222;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
   background: #222;
}

  
body {
    background-color: #000;
    color: #e1e1e1;
    font-family: 'Source Code Pro', monospace;
    line-height: 20px;

    header {
        display: none;
    }
    
    main {
        @include flex-center;
    }
    
    section {
        @include flex-center;      
        padding: 40px 20px;  
        width: 100%;
        height: 100vh;
        
        &#coming-soon {
            position: relative;
            overflow: hidden;
            
            h1 {
                font-size: 26px;
                font-weight: 300;
                line-height: 30px;
                text-align: center;
                animation-name: fadeInOut;
                animation-duration: 5s; 
                animation-iteration-count: infinite;
                animation-direction: alternate;
                animation-timing-function: linear;
            }

            a.arrow-link {
                display: block;
                margin-top: 8px;
                animation-name: bounce;
                animation-duration: 10s; 
                animation-iteration-count: infinite;
                animation-direction: alternate;
                z-index: 2;

                @keyframes bounce {
                    0% {
                        transform: translateY(8px);
                    }
                    100% {
                        transform: translateY(0);
                    }
                }
            }

            /* Orbitas */
            .orbitas {
                border-radius: 50%;
                border: 2px solid transparent;
                position: absolute;
                display: flex;
                justify-content: center;               

                &::before {
                    content: '';
                    border-radius: 50%;
                    border-top: 2px solid #e1e1e1;
                    position: absolute;
                    clip-path: circle(73% at 50% -50%);
                    animation-iteration-count: infinite;
                    animation-timing-function: linear;
                    transition: all 0.4s ease-in-out 0s;
                }

                @keyframes spin0deg {
                    0% { transform: rotate(0deg); }
                    100% { transform: rotate(360deg); }
                }

                @keyframes spin180deg {
                    0% { transform: rotate(180deg); }
                    100% { transform: rotate(360deg); }
                }

                @keyframes spin127deg {
                    0% { transform: rotate(127deg); }
                    100% { transform: rotate(360deg); }
                }

                @keyframes spin200deg {
                    0% { transform: rotate(200deg); }
                    100% { transform: rotate(360deg); }
                }

                @keyframes change {
                    0% { 
                        border-width: 1.5px;
                        opacity: 0;
                    }
                    5% { 
                        border-width: 1.5px;
                        opacity: 0.05;
                    }
                    10% { 
                        border-width: 1.8px;
                        opacity: 0.1;
                    }
                    20% { 
                        border-width: 2px;
                        opacity: 0.3;
                    }
                    30% { 
                        border-width: 2.2px;
                        opacity: 0.6;
                    }
                    40% { 
                        border-width: 2.5px;
                        opacity: 0.8;
                    }
                    50% { 
                        border-width: 2.8px;
                        opacity: 1;
                    }
                    60% { 
                        border-width: 2.5px;
                        opacity: 0.8;
                    }
                    70% { 
                        border-width: 2.2px;
                        opacity: 0.6;
                    }
                    80% { 
                        border-width: 2px;
                        opacity: 0.3;
                    }
                    85% { 
                        border-width: 2px;
                        opacity: 0.15;
                    }
                    90% { 
                        border-width: 1.8px;
                        opacity: 0.1;
                    }
                    100% { 
                        border-width: 1.5px;
                        opacity: 0;
                    }
                }

                &.orbita-uno {
                    width: 200px;
                    height: 200px;

                    &::before {
                        width: 200px;
                        height: 200px;
                        animation-duration: 13s;
                        animation-name: spin200deg, change;
                    }
                }

                &.orbita-dos {
                    width: 260px;
                    height: 260px;

                    &::before {
                        width: 260px;
                        height: 260px;
                        animation-duration: 21s;
                        animation-name: spin0deg, change;
                        background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='260' ry='260' stroke='%23E1E1E1FF' stroke-width='2' stroke-dasharray='22%2c 13%2c 11%2c 24'  stroke-dashoffset='86' stroke-linecap='butt'/%3e%3c/svg%3e");
                        border: none;
                    }
                }

                &.orbita-tres {
                    width: 380px;
                    height: 380px;

                    &::before {
                        width: 380px;
                        height: 380px;
                        animation-duration: 34s;
                        animation-name: spin127deg, change;
                    }
                    
                }

                &.orbita-cuatro {
                    width: 500px;
                    height: 500px;

                    &::before {
                        width: 500px;
                        height: 500px;
                        animation-duration: 13s;
                        animation-name: spin0deg, change;
                        background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='520' ry='520' stroke='%23E1E1E1FF' stroke-width='2' stroke-dasharray='9%2c 14%2c 20%2c 10'   stroke-dashoffset='86' stroke-linecap='butt'/%3e%3c/svg%3e");
                        border: none;
                    }
                }

                &.orbita-cinco {
                    width: 590px;
                    height: 590px;

                    &::before {
                        width: 590px;
                        height: 590px;
                        animation-duration: 21s;
                        animation-name: spin180deg, change;
                    }
                }

            }

            /* Esferas */
            .esferas {
                border-radius: 50%;
                background-color: #e1e1e1;
                animation-name: fadeInOut;
                animation-iteration-count: infinite;
                animation-direction: alternate;
                position: absolute;
                width: 20px;
                height: 20px;
                opacity: 0.1;

                &.esfera-uno {
                    width: 40px;
                    height: 40px;
                    bottom: -4.5%;
                    animation-duration: 13s; 
                    /* animation-delay: 1s; */
                }

                &.esfera-dos {
                    width: 40px;
                    height: 40px;
                    background-color: transparent;
                    border: 2px solid #e1e1e1;
                    top: -3.5%;
                    animation-duration: 8s; 
                    /* animation-delay: 0.3s; */
                }

                &.esfera-tres {
                    bottom: -2.5%;
                    right: 34%;
                    animation-duration: 5s; 
                    animation-delay: 0.5s;
                }

                &.esfera-cuatro {
                    bottom: 12.5%;
                    right: 10%;
                    animation-duration: 13s; 
                }

                &.esfera-cinco {
                    top: 20%;
                    right: 5%;
                    animation-duration: 5s; 
                }

                &.esfera-seis {
                    bottom: 3%;
                    left: 20%;
                    animation-duration: 13s; 
                    /* animation-delay: 0.8s; */
                }

                &.esfera-siete {
                    right: -1%;
                    top: 64%;
                    animation-duration: 8s; 
                }

                &.esfera-ocho {
                    width: 16px;
                    height: 16px;
                    bottom: 10%;
                    left: 8%;
                    background-color: transparent;
                    border: 2px solid #e1e1e1;
                    animation-duration: 3s; 
                }
            }

            @keyframes fadeInOut{
                0% {
                    opacity: 0;
                }
                100% {
                    opacity: 1;
                }

            }
        }

        &#intro-text {

            p {
                text-align: center;
                max-width: 1200px;
            }
        }
    }

}
